<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Provider"  value="SQLNCLI" />
    <add key="ServerName"  value="." />
    <add key="DatabaseName"  value="pubs" />
    <add key="User"  value="sa" />
    <add key="Password"  value="sasa" />
    <add key="FileName"  value="output.sql" />
    <add key="Path"  value="C:\temp" />
  </appSettings>
</configuration>